<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="secondary" class="" style="margin-top: 3%;">
      Adrian Portillo Rojas
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="topic">
  <ion-item>
    <ion-icon aria-hidden="true" name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        <ion-list>
          <ion-item> <ion-input label="Nombre" placeholder="Nombre Topico" [(ngModel)]="topic.name"></ion-input>
          </ion-item>
          <ion-item> <ion-input label="Color" placeholder="Color" [(ngModel)]="topic.color"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Fecha de Creación" placeholder="Fecha de Creación"
              [(ngModel)]="topic.create_date"></ion-input>
          </ion-item>


        </ion-list>

      </h2>
    </ion-label>
  </ion-item>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="saveUser()">
      <ion-icon name="bookmark-outline"></ion-icon>

    </ion-fab-button>

  </ion-fab>

</ion-content>